<!DOCTYPE html>
<html>
<head>
  <title>Videos Publication Example - <%= content_for(:title) %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <% if logged_in? %>
    <%= link_to 'Signout', logout_path %>
  <% else %>
    <%= link_to 'Signin',   login_path %>
  <% end %>
</nav>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% elsif alert %>
  <p id="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
